@using ProjectClone.Models

@model IEnumerable<RoomsViewModel>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@Html.Raw(ViewBag.AddMsg)
@Html.Raw(ViewBag.EditMsg)
@Html.Raw(ViewBag.DeleteMsg)

@foreach (var item in Model)
{
    <div class="card flex-row">
        <img class="card-img-left" src="@Url.Content(item.Image)" style="width:30%" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.RoomName</h5>
            <p class="card-text">
                <b>Price: Rs.@item.Price</b><br />
                Number of rooms: @item.Availability
            </p>

            @Html.ActionLink("Edit", "Edit", new { id = item.RoomId, area = "Admin" }, new { @class = "btn btn-outline-secondary" })

            @Html.ActionLink("Details", "Details", new { id = item.RoomId, area = "Admin" }, new { @class = "btn btn-outline-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.RoomId, area = "Admin" }, new { @class = "btn btn-outline-danger" })
            <br />
            @Html.ActionLink("View", "ViewBookings", new { id = item.RoomId, area = "Admin" }, new { @class = "btn btn-link" })

        </div>
    </div>
    <br />
}
