@model ProjectClone.Models.UsersViewModel

@{
    ViewBag.Title = "Create";

}


<section class="vh-50">
    <div class="container-fluid h-custom mt-lg-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
                @Html.Raw(TempData["Register"])
                @Html.Raw(TempData["Login"])
                @Html.AntiForgeryToken()
                @using (Html.BeginForm("Create", "User", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!-- Email input -->
                    <div class="form-group">

                        @Html.LabelFor(model => model.UserName, "Email Address:", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter valid username" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>

                    <!-- Password input -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserPassword, "Password:", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password" } })
                        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserPhone, "Contact Number:", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter valid phone number" } })
                        @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })

                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Already have an account?
                           
                            @Html.ActionLink("LogIn Here", "LogIn", "User", new { area = "Common" }, new { @class = "link-default" })
                        </p>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}